# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\fall 2020\hw441\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
